@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 2rem 2rem 2rem 2rem;

  height: 100vh;
}
.main_container {
  font-family: "Poppins", sans-serif;
}
.header {
  /* background-color: red; */
  background-image: url(./assets/Vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.lines {
  border-bottom: 2px solid #dddd;
  width: 100%;
}
@media screen and (max-width: 768px) {
  form > p {
    align-items: center;
    text-align: center;
  }
  .icon_button {
    flex-direction: column;
  }
  /* .device {
    flex-direction: column;
  } */
}
